body{
    margin:0px;
    background-color:rgb(6, 4, 18);
}
nav{
    background-color: black;
    margin:0px;
    display: flex;
    width: 100%;
    height: 70px;
    color: #fff;
}
nav ul{
    display: flex;
    column-gap:50px;
}
nav ul li{
    list-style: none;
}
.logo img{
    margin-top: 8px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
.logoname{
    margin-top:20px;
    font-size: 30px;
    font-weight:500;
    color:rgb(59, 248, 59);

}
.music{
    margin-top:25px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(241, 246, 241);
}
.event{
    margin-top:25px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(241, 246, 241);
}
.container{
    width:max-content;
    height:75vh;
    margin-top:20px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(255, 254, 254);
    border-radius: 10px;
}
.playstepup{
    width:400px;
    height: 60vh;
    background-color:gray;
    border-radius: 20px;
    margin-left: 30px;
}
.playlist{
    width:700px;
    height: 70vh;
    /* background-color:black; */
    border-radius: 20px;
    margin-left:100px;
    top: 0px;
}
.bottom{
    /* border: 1px solid white; */
    display: flex;
    position: sticky;
    width: 100%;
    height:auto;
    background-color:rgb(8, 7, 7);
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 200px;
}

.songposter{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    width:auto;
    border: 2px solid white;
    height:40vh;
    border-radius: 30px;
}
.songposter img{
    width: 100%;
    height:40vh;
    border-radius: 30px;
}
.songinfo{
    width: 90%;
    margin-left: 30px;
    margin-top:5px;
    /* border: 2px solid white; */
    height:30px;
    color: #fff;
    display:flex;
}
.playimage{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70px;
    /* border:1px solid white; */
    height:100%;
}

.playimage img{
    opacity:0;
    border-radius: 20px;
    width:100%;
    height:100%;
}
.songname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 20px;
}
.progressbar{
    height:5px;
    margin-left: 20px;
    width:90%;
    /* border: 1px solid white; */
    cursor: pointer;
    color: #fff;
}

.controls{
    background-color: rgb(11, 11, 11);
    margin:0px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    column-gap: 30px;
}
.controls ul{
    cursor: pointer;
    display: flex;
    column-gap: 70px;
}
.songlist{
    height:max-content;
    /* border: 1px solid green; */
    margin-left: 10px;
    margin-top: 0px;
}

.songs{
    /* background-color:black; */
    display: flex;
    column-gap:20px;
  overflow: auto;
  white-space: nowrap;
  padding-top: 10px;
}
.songs::-webkit-scrollbar{
    width: 0px;
}
.artistname{
    color: #fff;
    padding-bottom: 10px;
}
.songlist1{
    display: inline-block;
    width:150px;
    height:200px;
    /* color:rgb(255, 255, 255); */
    /* border: 1px solid green; */
}
.songlist1 img{
    cursor: pointer;
    width:150px;
    height:150px;
}
.contentname{
    width:150px;
    word-wrap: break-word;
    font-weight: 600;
    font-size:13px;
    color: #fff;
}
.singers{
    margin-top: 0px;
    color: #bcb3b3;
}
.playbtn img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.play img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.homelogo img{
    cursor: pointer;
    width:20px;
    height: 20px;
}
.logoidentity{
    cursor: pointer;
    font-size: 10px;
    color: #bcb3b3;
}
h3{
    color: #fff;
}


@media only screen and (max-width:500px) {
    /* For mobile phones: */
    body{
        margin: 0px;
        background-color: #090707;
    }
    .maincontainer{
        overflow: scroll;
        margin-top:70px;
        height:550px;
        width: 350px;
        /* border: 3px solid rgb(101, 70, 205); */
    }
    nav{
        position:fixed;
        top: 0px;
        background-color: rgb(33, 181, 28);
        margin:0px;
        display: flex;
        width:350px;
        height: 70px;
        color: #fff;
    }
    .music{
        margin-top:25px;
        margin-left:30px;
        font-size: 20px;
        font-weight: 400;
        color: rgb(241, 246, 241);
    }
    .event{
        margin-top:25px;
        margin-left:50px;
        font-size: 20px;
        font-weight: 400;
        color: rgb(241, 246, 241);
    }
    .logo img{
        margin-top:20px;
        margin-left: 10px;
        width: 30px;
        height: 30px;
    }
    .logoname{
        margin-top:25px;
        font-size: 20px;
        font-weight:500;
        color:rgb(59, 248, 59);
    
    }

    .container{
        overflow-y:scroll;
        height:500px;
        width: 350px;
        margin-left:0px;
        display: block;
        border: none;
    }
    .playstepup{
        padding-top:20px;
        background-color: #85eef1;
        margin-left:20px;
        /* border: 2px solid rgb(32, 255, 69); */
        height:max-content;
        width:300px;
    }
    .playlist{
        width:330px;
        height: 70vh;
        /* overflow-x: scroll; */
        /* background-color:black; */
        border-radius: 20px;
        margin-left:100px;
        top: 0px;
    }
    .songposter{
        margin: 0px;
        padding: 0px;
        width:300px;
        /* border: 2px solid white; */
        height:200px;
        border: none;
        margin-left:18px;
        border-radius: 30px;
    }
    .songposter img{
        /* border: 2px solid white; */
        width:250px;
        border: none;
        height:200px;
        border-radius: 30px;
    }
    .bottom{
        /* border: 2px solid white; */
        background-color: none;
        position:fixed;
        width:350px;
        margin-top: 0px;
        display: flex;
        column-gap: 50px;
    }
    h3{
        color:#fff;
        margin-top: 50px;
        margin-left: 20px;
    }
    .playlist{
        margin-left: 0px;
    }
    .controls{
        margin-top: 20px;
    }
    .songlist{
        /* border: 2px solid white; */
        width: 330px;
        height: max-content;
    }
    .songlist1{
        /* border: 2px solid white; */
        width:150px;
        height: max-content;
        padding: 0px;
    }
    .songlist1 img{
        margin: 0px;
        padding: 0px;
        /* border: 2px solid white; */
        width:130px;
        height:150px;
    }
    .contentname{
        width:130px;
        word-wrap: break-word;
        font-weight: 600;
        font-size:10px;
        color: #fff;
    }
    .singers{
        margin-top: 0px;
        color: #bcb3b3;
    }
    .songs{
        overflow-x: scroll;
        height: max-content;
    }
}
